@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 border border-white/10 backdrop-blur-lg shadow-xl;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-violet-400 to-fuchsia-400;
  }
}

body {
    background-color: #0f172a; /* Slate 900 fallback */
    color: white;
}
